/* Global */
*{
    padding:0;
    margin:0;
}

html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;    
    opacity:0.85;
    background: url("../img/bulb.jpg") no-repeat center center fixed;
    background-size:cover;
    height: 100%;
}

#wrapper-tint{
    position: relative;
    min-height: 100vh;
    background-color: black;
    opacity:0.95;
    padding-bottom: 30px;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

/* Name Header */
header{
    font-family:Courier New, Courier, monospace;
    background-color:white;
    color:darkblue;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:1.3em;
}

/* NavBar */
#navbar{
    font-family:Courier New, Courier, monospace;
    font-size: 1em;
    background-color:darkblue;
    color:white;
    padding-top:10px;
    min-height:45px;
}

#navbar ul{
    text-align:center;
}

#navbar li{
    display:inline-block;
    padding: 0 20px 0 20px;
}

#navbar a{
    color:white;
    text-decoration: none;
    font-size: 26px;
}

#navbar a:hover{
    font-weight:bold;
}

/* Blurbs */
#blurb-container{
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.blurb{
    margin:20px;
    max-width: 450px;
}

.blurb h2{
    margin-top:15px;
    border-radius:25px 25px 0 0;
    background:darkblue;
    color:white;
    text-align:center;
    font-size: 2em;
}

.blurb p{
    background:white;
    border-radius:0 0 25px 25px;
    padding:18px;
    color:black;
    padding-top:20px;
    font-size: 1.3em;
}

.blurb:nth-child(odd){
    justify-self: right;
}

/* Blog Accordion */
#accordion-container{
    padding:10px;
}

.blog-title {
    margin-top:15px;
    border-radius:25px;
    background-color: darkblue;
    color: white;
    text-align: left;
    font-size: 2em;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

.blog-title span{
    font-size: .5em;
    margin-left: 1em;
    color: #aaa;
}

.blog-title:hover, .active{
    background-color:rgb(66, 66, 161);
}

/* Blog Content, hidden by default */
.blog-content{
    background:white;
    border-radius:25px;
    margin-top: 10px;
    padding:18px 10%;
    color:black;
    padding-top:20px;
    font-size: 1.3em;
    display: none;
    overflow: hidden;
}

/* Cynical Blog */
.blog-title.cynical{
    background-color: darkred;
    /* display:block; */
    display: none;
}

.blog-title.cynical:hover, .active-cynical{
    background-color:rgb(141, 49, 49);
}

span.cynical{
    background-color: rgb(68, 1, 1);;
    color: white;
    /* display: span; */
    display: none;
}

.blog-content.cynical{
    background-color:rgb(68, 1, 1);
    color:white;
    display: none;
}


/* Footer */
footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-family:Courier New, Courier, monospace;
    background-color:darkblue;
    color:white;
    text-align:center;
}

/* Media Query */
@media(max-width: 960px){
    .container{
        width:92%;
    }

    #blurb-container{
        grid-template-columns: 1fr;
    }

    .blurb{
        max-width: none;
    }

    .blurb:nth-child(odd){     
        justify-self: auto;
    }
}

/* Will Shell */
#willshell{
    z-index: 2;
    background-color:#39ff14;
    display: none;
    position: fixed;
    bottom: 0;
    height: 50%;
    width: 100%;
    padding: 30px;
    resize: vertical;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.4em;
}

.willshell-output-box{
    background-color: #111;
    color: #39ff14;
    height: 80%;
    width: 90%;
    margin: auto 0;
    overflow-y: scroll;
    text-align: left;
    padding: 20px;
    align-self: center;
}

.prompt-text{
    float: left;
    width: 20px;
    background-color: #111;
    bottom: 0;
    color: #39ff14;
    padding-left: 20px;
    height: 30px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.willshell-input-line{        
    background-color: #111;
    color: #39ff14;
    height: 30px;
    width: 91%;
    bottom: 0;
    margin: auto 0;
    padding-left: 8px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
