/* Global */
*{
    padding:0;
    margin:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    opacity:0.85;
    background: url("../img/bulb.jpg") no-repeat center center fixed;
    background-size:cover;
}

#wrapper-tint{
    background-color: black;
    opacity:0.95;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

/* Name Header */
header{
    font-family:Courier New, Courier, monospace;
    background-color:white;
    color:darkblue;
    text-align: center;
}

/* NavBar */
#navbar{
    font-family:Courier New, Courier, monospace;
    background-color:darkblue;
    color:white;
    padding-top:10px;
    min-height:45px;
}

#navbar ul{
    text-align:center;
}

#navbar li{
    display:inline-block;
    padding: 0 20px 0 20px;
}

#navbar a{
    color:white;
    text-decoration: none;
    font-size: 26px;
}

#navbar a:hover{
    font-weight:bold;
}

/* Blurbs */
#blurb-container{
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.blurb{
    margin:20px;
}

.blurb h2{
    margin-top:15px;
    border-radius:25px 25px 0 0;
    background:darkblue;
    color:white;
    text-align:center;
}

.blurb p{
    background:white;
    border-radius:0 0 25px 25px;
    padding:18px;
    color:black;
    padding-top:20px;
    font-size: 20px;
}

/* Footer */
footer{
    font-family:Courier New, Courier, monospace;
    background-color:darkblue;
    color:white;
    text-align:center;
}

/* Media Query */
@media(max-width: 960px){
    .container{
        width:92%;
    }

    #blurb-container{
        grid-template-columns: 1fr;
    }
}